 <form [formGroup]="userFormGroup" class="container">
   <h1 style="color:purple; font-style:italic; font-weight:90%">YAHOO!</h1>
            <h2>Sign Up for YahooMail</h2>
            Create a Yahoo Email address
            <hr size="1%" color="grey">
            <div  class="formGroup">
                <br>
                <input formControlName="fullName" class="form-control" type="text" id="userName" placeholder="First Name" style="border-right: none; border-top: none;border-left:none ;" autofocus required >
        
                <input formControlName="surname" class="form-control" type="text" id="Surname" placeholder="Surname" style="border-right: none; border-top: none;border-left:none ;" required>
            </div>
            <br>
            <div class="formGroup">
                <input formControlName="email" class="form-control" type="email" id="email" placeholder="Email" size="45%" style="border-right: none; border-top: none;border-left:none ;" required>
            </div>
            <br>
            <div  class="formGroup">

                <input formControlName="password" class="form-control" type="password" id="pwd" placeholder="Password" style="border-right: none; border-top: none;border-left:none ;" size="45%" required>
            </div>
            <br>
            <div class="formGroup">

                <select  style="border-right: none; border-top: none;border-left:none ; width: 20%;" >
                    <option>+91</option>
                    <option>+44</option>
                    <option>+93</option>
                </select>
                <input formControlName="mobile" class="form-control" type="number" id="mob" placeholder="Mobile Number" style="border-right: none; border-top: none;border-left:none ;width: 73%;" required>

            </div>
            <br>
            <div  class="formGroup">
                <input formControlName="gender" class="form-control" type="text" id="gen" placeholder="Gender(Optional)"  style="border-right: none; border-top: none;border-left:none ; width: 94%;" >
            </div>
            <br>
            <div class="formGroup">
              
              <div [formGroup]="userFormGroup.controls.address">
                <input type="text"  class="form-control" placeholder="Address" style="border-right: none; border-top: none;border-left:none ; width: 94%;" required>
                <input type="text" formControlName="streetNo" class="form-control" placeholder="Street No" style="border-right: none; border-top: none;border-left:none ; width: 94%;">
                <input type="text" formControlName="houseNo" class="form-control" placeholder="House No" style="border-right: none; border-top: none;border-left:none ; width: 94%;">
                <input type="text" formControlName="postalCode" class="form-control" placeholder="Postal Code" style="border-right: none; border-top: none;border-left:none ; width: 94%;">
              </div>
            </div>
            <br>
            	<button (click)="addHobby()">Add</button>

		<div formArrayName="hobbies" *ngFor="let hobby of userFormGroup.controls.hobbies?.value; let i = index">
			<div [formGroupName]="i">

				<input placeholder="hobbyName" formControlName="hobbyName">
          </div>
			</div>
            <div  class="formGroup"> 
                <button [disabled]="userFormGroup.invalid" type="button" style="border-radius: 15px; background-color: lightblue;" (click)="submit()">Continue</button>
            </div>
             <div  class="formGroup"> 
                <button type="button" style="border-radius: 15px; background-color: lightblue;" (click)="patchValue()">Patch Value</button>
            </div>
             <div  class="formGroup"> 
                <button type="button" style="border-radius: 15px; background-color: lightblue;" (click)="reset()">Reset</button>
            </div>
        </form>
